@import "./variables.scss";

body{
    margin: 0;
}

//Layout

.layoutNav{
    width: 100%;
    height: 7vh;
    display: flex;
    .containerBurgerMenu{
        
        .infoHeader{
            font-family: $fontTitle;
            font-size: x-large;
            align-items: center;
            justify-content: center;
            background-color: #7DE98B;
            position: fixed;
            display: flex;
            height: 7vh;
            width: 100%;
            z-index: 2;
            box-shadow: 0px 2px 15px 0px #656565;
            p{
                margin: 2.5rem;
            }
        }
    }
}

#App {
    font-family: sans-serif;
    height: 100vh;
  }
  
  #page-wrap {
    text-align: center;
    overflow: auto;
    position: relative;
    top: 5%;
  }
  
  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 1rem;
    color: black;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: white;
  }
  
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 1.5rem;
    top: 1.3rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: burlywood;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #D2B48C;
    padding: 2.5em 1.5em 0;
    font-size: x-large;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: burlywood;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: burlywood;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: burlywood;
  }

//Fin layout

//Presentation

.containerPresentation{
    padding: 2rem;
    margin: 5rem;
    background-image: url("../public/photo/beige-tiles.png");
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px #656565;
    // offset-path: path('M 0,20 L 200,20');
    animation: move 3000ms infinite alternate ease-in-out;
    // width: 40px;
    // height: 40px;

    .checkList{
        height: 5rem;
        display: flex;
        // margin-left: 15%;
        .checkListIcon{
            font-size: 2.3rem;
            margin-top: 1.5rem;
            color:#7DE98B;
        }
        p{
            margin-left: 1rem;
            font-family: $fontCatchPhrase;
            font-size: xx-large;
            color: rgb(8, 8, 8);
        }
    }
}

//Fin presentation

//Devis

.containerDevis{
    padding: 5rem;

    .catchphrase{
        padding: 3rem;
        border-radius: 15px;
        background-image: url("../public/photo/beige-tiles.png");
        font-size: xx-large;
        font-family: $fontCatchPhrase;
        margin: auto;
        margin-bottom: 5rem;
        height: auto;
        box-shadow: 0px 0px 8px 0px #656565;
    }
    h2{
        margin-bottom: 4rem;
        font-size: xx-large;
        font-family: $fontTitle2;
    }
    h3{
        font-family: $fontTitle2;
    }
    .ItemDevis{
        display: flex;
        .iconDevis{
            margin-top: 0.8rem;
            font-size: x-large;
            margin-right: 1rem;
        }
        p{
            font-size: large;
        }
    }
    img{
        width: 10rem;
    }
}
.containerInformation{
    margin: 5rem;
    margin-top: 0;
    padding: 1rem;
    border-radius: 1rem;
    background-image: url("/photo/beige-tiles.png");
    box-shadow: 0px 0px 8px 0px #656565;
    p{
        font-size: xx-large;
        font-family: $fontCatchPhrase;
        color: rgb(0, 0, 0);
    }
}

//Fin devis

//Price

.containerPrice{
    .containerColorTitlePrice{
        background-color: #8FBC8F;
        padding: 3rem;
        padding-top: 1rem;
        color: black;
        h2{
            border: 1px solid rgb(255, 255, 255);
            border-radius: 15px;
            padding: 1rem;
            font-size: xx-large;
            font-family: $fontTitle2;
        }
        p{
            
            font-size: x-large;
        }
        
    }
    .containerColorGreenPriceSelect{
        // background-color:#556B2F;
        background-color:#8FBC8F;
        padding: 3rem;
        p{
            color: black;
            font-size: x-large;
            border: 1px solid black;
            border-radius: 15px;
            padding: 1rem;
            
        }
        .prghPrice{
            border: none;
        }
        .containerPriceSelect{
            display: flex;
            justify-content: center;
            .selectOption{
                margin: 3rem;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                label{
                    font-size: x-large;
                    margin-bottom: 1.5rem;
                }
                select{
                    height: 2.5rem;
                    font-size: large;
                    padding-left: 0.5rem;
                    border-radius: 0.2rem;
                    background-color: #eeeeee;
                    cursor: pointer;
                    border: 1px solid #dadada;
        
                    &:hover, &:focus{
                        border: 1px solid #a0a0a0;
                        outline: none;
                    }
        
                    option{
        
                        &:hover, &:focus{
                            background-color: #a0a0a0;
                        }
                    }
                }
            }
        }
        .containerPriceView{
            display: flex;
            flex-direction:column ;
            text-align: center;
            
            p{
                font-size: x-large;
        
            }
        }
    }

}

//Fin Price

//Price2

.containerPrice{
    // margin-bottom: 8rem;
    // box-shadow: 0px 2px 15px 0px #656565;
    .containerColorBrownPriceSelect{
    background-color:#8FBC8F;
        padding: 3rem;
        p{
            color: black;
            font-size: x-large;
            border: 1px solid black;
            border-radius: 15px;
            padding: 1rem;
        }
        .prghPrice{
            border: none;
        }
        .containerPriceSelect{
            display: flex;
            justify-content: center;
            .selectOption{
                margin: 3rem;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                label{
                    font-size: x-large;
                    margin-bottom: 1.5rem;
                }
                select{
                    height: 2.5rem;
                    font-size: large;
                    padding-left: 0.5rem;
                    border-radius: 0.2rem;
                    background-color: #eeeeee;
                    cursor: pointer;
                    border: 1px solid #dadada;
        
                    &:hover, &:focus{
                        border: 1px solid #a0a0a0;
                        outline: none;
                    }
        
                    option{
        
                        &:hover, &:focus{
                            background-color: #a0a0a0;
                        }
                    }
                }
            }
        }
        .containerPriceView{
            display: flex;
            flex-direction:column ;
            text-align: center;
            
            p{
                font-size: x-large;
        
            }
        }
    }
    .ContainerColorIndication{
        background-color:#8FBC8F;
        padding: 3rem;
        p{
            margin: 0;
            color: black;
            font-size: x-large;
            border: 1px solid black;
            border-radius: 15px;
            padding: 1rem;
        }
        ul{
            margin-top: 2rem;
            text-align: left;
            font-size: large;
            li{
                height: 2rem;
            }
        }
    
    }

}


//Fin Price2

//Elagage

.containerPruning{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    h2{
        font-size: xx-large;
        font-family: $fontTitle2;
    }
    .titlePruning{
        padding: 2rem;
        h3{
            font-size: x-large;
            font-family: $fontTitle2;
        }
        h4{
            font-size: large;
            font-weight: 800;
            font-family: $fontTitle2;
        }
        p{
            font-size: large;
        }
        img{
            width: 10rem;
        }
        ul{
            text-align: left;
            font-size: large;
        }
        .containerButtonArticle{
            background-image: url("../public/photo/geometric-leaves.png");
            padding: 2rem;
            border: rgb(161, 161, 161) 1px solid;
            display: flex;
            // justify-content: space-around;
            height: auto;
            
            @media screen and (max-width: 1000px) {
                display: flex;
                flex-direction: column;
            }

            .buttonTitleArticle{
                display: flex;
                flex-direction: column;
                margin-right: 3rem;
                button{
                    text-decoration: none;
                    background-color: transparent;
                    color: black;
                    border: none;
                    font-weight: 800;
                    width: 20rem;
                    border-radius: 1rem;
                    margin: 0.4rem;
                    text-align: left;

                    &:focus{
                        text-decoration: none;
                        background-color: #39C64A;
                    }
                }
                .pruningArticle{
                }
            }
        }
        .containerSubtitlePruning{
            border: 1px black solid;
            margin: 1rem;
        }
    }
}

//Fin elagage

//Banniere1

.banniereImg1{
    box-shadow: inset 0px 0px 12px 0px #656565;
    background-image: url('/photo/demontage.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;    
    // background-color: blue;
}

//Fin banniere1


//Banniere2

.banniereImg2{
    box-shadow: inset 0px 0px 12px 0px #656565;
    margin-top: 5rem;
    background-image: url('/photo/abattage.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;    
    // background-color: blue;
}

//Fin banniere1

//Diaporama

.contenuCarouselAuto{
    .carouselImage{
        img{
            max-width:100%;
        }
    }
}
/*****carrousel 3d automatique*****/

*{box-sizing : border-box}


.contenuCarouselAuto{

margin:2rem auto;
width:26.25rem;
height:17.438rem;
perspective:8000px
	
	}
		
.carouselImage{
	
animation:rotation 24s infinite alternate linear;	
transform-style:preserve-3d;
position:relative;	

}

.carouselImage img{
	
position: absolute;
top:0;
left: 0;
}
		
.carouselImage img{
	
filter:drop-shadow(0 12px 5px hsla(0,0%,0%,.4));
width:25rem;
height:16.625rem;
left:0.625rem;
outline:1px solid transparent;
backface-visibility:hidden
	
	}
		
.carouselImage img:nth-child(1){
	
transform:translate3d(0,0,495px)
		
		}
		
.carouselImage img:nth-child(2){
	
transform:rotateY(45deg) translateZ(495px)
	
		}
		
.carouselImage img:nth-child(3){
	
	transform:rotateY(90deg) translateZ(495px)
	
	}
	
.carouselImage img:nth-child(4){
	
	transform:rotateY(135deg) translateZ(495px)
	
	}
	
.carouselImage img:nth-child(5){
	
	transform:rotateY(180deg) translateZ(495px)
	
	}
	
.carouselImage img:nth-child(6){
	
	transform:rotateY(225deg) translateZ(495px)
	
	}
	
.carouselImage img:nth-child(7){
	
	transform:rotateY(270deg) translateZ(495px)
	
	}
	
.carouselImage img:nth-child(8){
	
	transform:rotateY(315deg) translateZ(495px)
	
	}

@keyframes rotation{
from{transform:rotatey(0)}
to{transform:rotatey(1turn)}}
	
/*****fin carrousel 3d automatique*****/

//Fin diaporama

//Abattage

.containerAbattage{
    background-color: burlywood;
    padding: 2rem;
    margin-bottom: 0;
    h2{
        font-family: $fontTitle2;
        border: 1px solid black;
        height: 3rem;
        width: 30rem;
        margin: auto;
        margin-bottom: 3rem;
        font-size: xx-large;
    }
    h3 {
        text-align: left;
        margin-left: 2rem;
        font-family: $fontTitle2;
    }
    p{
        padding: 1rem;
        text-align: left;
    }
    .abstractPhrase{
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

//Fin abattage

//TailleDeHaie

.containerTailleDeHaie{
    padding: 2rem;
    background-color: burlywood;
    margin-top: 0;
    h2{
        font-family: $fontTitle2;
        border: 1px solid black;
        height: 3rem;
        width: 30rem;
        margin: auto;
        margin-bottom: 3rem;
        font-size: xx-large;
    }
    h3 {
        text-align: left;
        margin-left: 2rem;
        font-family: $fontTitle2;
    }
    p{
        padding: 1rem;
        text-align: left;
    }
    .abstractPhrase{
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
}

//Fin taille de haie